<form [formGroup]="logInForm" class="loginForm">
  <mat-form-field class="loginFormField" *ngFor="let eachField of formFields; let i=index" appearance="standard" floatLabel="auto">
    <label [for]="eachField.type" class="form-label">{{eachField.label}}</label>
    <div class="input-icon">
      <div class="icon-div">
        <mat-icon class="icon">{{eachField.icon}}</mat-icon>
      </div>
      <input matInput class="input-field" [formControlName]="eachField.formControl"
        [placeholder]="eachField.placeholder" [type]="eachField.type" autocomplete="new-password" />
      <mat-icon *ngIf="eachField.formControl=='password'" class="icon"
        [ngClass]="{'passIcon': eachField.formControl=='password'}" (click)="showPassword(i)">
        {{eachField.passEyeIcon}}</mat-icon>
    </div>
    <mat-error
      *ngIf="eachField.required && logInForm.controls[eachField.formControl]?.errors?.required && logInForm.controls[eachField.formControl].touched">
      {{eachField.requiredError}}</mat-error>
    <mat-error
      *ngIf="eachField.hasPattern && logInForm.controls[eachField.formControl]?.errors?.pattern && logInForm.controls[eachField.formControl]?.touched">
      {{eachField.patternError}}</mat-error>
  </mat-form-field>
  <div class="buttonDiv">
    <span *ngIf="error != ''" class="error">{{error}}</span>
    <span *ngIf="error == ''"> <br></span>
    <button mat-raised-button color="primary" [ngClass]="{'button-disabled': logInForm.status =='INVALID'}" [disabled]="logInForm.status =='INVALID'" (click)="logIn()">Sign In</button>
  </div>
</form>