.loginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
}

.loginFormField {
    padding-bottom: 11px;
}


.error {
    margin-bottom: 13px;
    font-size: 12px;
    color: #d06b3a;
}