<!-- <form [formGroup]="signUpForm">
    <label for="fname">First name:</label><br>
    <input type="text" formControlName="firstName"><br>
    <label for="fname">Last name:</label><br>
    <input type="text" formControlName="lastName"><br>
    <label for="fname">Mobile No:</label><br>
    <input type="text" formControlName="mobile"><br>
    <label for="fname">Email id:</label><br>
    <input type="text" formControlName="email"><br>
    <label for="fname">City:</label><br>
    <input type="text" formControlName="city"><br>
    <label for="fname"> Password:</label><br>
    <input type="text" formControlName="password"><br>

    <button (click)="submit()">Submit</button>
  </form> 
  <span (click)="goToLogIn()">Go to log in</span> -->

<!-- <form [formGroup]="signUpForm">
    <label for="fname">Email id:</label><br>
    <input type="text" formControlName="email"><br>
    <label for="fname"> Password:</label><br>
    <input type="text" formControlName="password"><br>

    <button (click)="submit()">Submit</button>
  </form> 
  <span (click)="goToSignUp()">Go to sign up</span> -->

<form [formGroup]="signUpForm" class="signUpForm">
  <div *ngFor="let item of createRange(formFieldsCalculation); let itemIndex= index" class="field-group">
    <ng-container *ngFor="let eachField of formFields; let i=index">
      <mat-form-field class="signUpFormField" [ngClass]="{ 'padding-right': i%2!=0}"
        *ngIf="i+1 > ((itemIndex+1)*2-2) && i+1 <= (itemIndex+1)*2 && eachField.formControl != 'mobile'"
        appearance="standard" floatLabel="auto">
        <label [for]="eachField.type" class="form-label">{{eachField.label}}</label>
        <div class="input-icon">
          <div *ngIf="eachField.formControl != 'city'" class="icon-div">
            <mat-icon class="icon">{{eachField.icon}}</mat-icon>
          </div>
          <input matInput [ngClass]="{'cityInput': eachField.formControl == 'city'}" class="input-field"
            [formControlName]="eachField.formControl" [placeholder]="eachField.placeholder" [type]="eachField.type"
            autocomplete="new-password" />
          <mat-icon *ngIf="eachField.formControl=='password'" class="icon"
            [ngClass]="{'passIcon': eachField.formControl=='password'}" (click)="showPassword(i)">
            {{eachField.passEyeIcon}}</mat-icon>
        </div>
        <mat-error
          *ngIf="eachField.required && signUpForm.controls[eachField.formControl]?.errors?.required && signUpForm.controls[eachField.formControl].touched">
          {{eachField.requiredError}}</mat-error>
        <mat-error
          *ngIf="eachField.hasPattern && signUpForm.controls[eachField.formControl]?.errors?.pattern && signUpForm.controls[eachField.formControl]?.touched">
          {{eachField.patternError}}</mat-error>
      </mat-form-field>

      <mat-form-field class="signUpFormield mobile-field"
        *ngIf="i+1 > ((itemIndex+1)*2-2) && i+1 <= (itemIndex+1)*2 && eachField.formControl == 'mobile'"
        appearance="standard" floatLabel="auto">
        <label [for]="eachField.type" class="form-label">{{eachField.label}}</label>
        <div class="input-icon">
          <input matInput ng2TelInput (hasError)="hasError($event)" (ng2TelOutput)="getNumber($event)"
            (intlTelInputObject)="telInputObject($event)" (countryChange)="onCountryChange($event)"
            [formControlName]="eachField.formControl" [placeholder]="eachField.placeholder" [type]="eachField.type"
            autocomplete="new-password" />
        </div>
        <mat-error
          *ngIf="eachField.required && signUpForm.controls[eachField.formControl]?.errors?.required && signUpForm.controls[eachField.formControl].touched">
          {{eachField.requiredError}}</mat-error>
        <mat-error
          *ngIf="eachField.hasPattern && signUpForm.controls[eachField.formControl]?.errors?.pattern && signUpForm.controls[eachField.formControl]?.touched">
          {{eachField.patternError}}</mat-error>
      </mat-form-field>
    </ng-container>
  </div>
  <!-- <div *ngFor="let item of createRange(formFieldsCalculation)">
    <div>
      <ng-container *ngFor="let eachField of formFields; let i=index">
        <mat-form-field *ngIf="i+1 > 0 && i+1 <= 2" appearance="standard" floatLabel="auto">
          <label [for]="eachField.type" class="form-label">{{eachField.label}}</label>
          <div class="input-icon">
            <div class="icon-div">
              <mat-icon class="icon">{{eachField.icon}}</mat-icon>
            </div>
            <input matInput class="input-field" [formControlName]="eachField.formControl"
              [placeholder]="eachField.placeholder" [type]="eachField.type" autocomplete="new-password" />
            <mat-icon *ngIf="eachField.formControl=='password'" class="icon"
              [ngClass]="{'passIcon': eachField.formControl=='password'}" (click)="showPassword(i)">
              {{eachField.passEyeIcon}}</mat-icon>
          </div>
          <mat-error
            *ngIf="eachField.required && signUpForm.controls[eachField.formControl]?.errors?.required && signUpForm.controls[eachField.formControl].touched">
            {{eachField.requiredError}}</mat-error>
          <mat-error
            *ngIf="eachField.hasPattern && signUpForm.controls[eachField.formControl]?.errors?.pattern && signUpForm.controls[eachField.formControl]?.touched">
            {{eachField.patternError}}</mat-error>
        </mat-form-field>
      </ng-container>
    </div>
    <div>
      <ng-container *ngFor="let eachField of formFields; let i=index">
        <mat-form-field *ngIf="i+1 > 2 && i+1 <= 4" appearance="standard" floatLabel="auto">
          <label [for]="eachField.type" class="form-label">{{eachField.label}}</label>
          <div class="input-icon">
            <div class="icon-div">
              <mat-icon class="icon">{{eachField.icon}}</mat-icon>
            </div>
            <input matInput class="input-field" [formControlName]="eachField.formControl"
              [placeholder]="eachField.placeholder" [type]="eachField.type" autocomplete="new-password" />
            <mat-icon *ngIf="eachField.formControl=='password'" class="icon"
              [ngClass]="{'passIcon': eachField.formControl=='password'}" (click)="showPassword(i)">
              {{eachField.passEyeIcon}}</mat-icon>
          </div>
          <mat-error
            *ngIf="eachField.required && signUpForm.controls[eachField.formControl]?.errors?.required && signUpForm.controls[eachField.formControl].touched">
            {{eachField.requiredError}}</mat-error>
          <mat-error
            *ngIf="eachField.hasPattern && signUpForm.controls[eachField.formControl]?.errors?.pattern && signUpForm.controls[eachField.formControl]?.touched">
            {{eachField.patternError}}</mat-error>
        </mat-form-field>
      </ng-container>
    </div>
    <div>
      <ng-container *ngFor="let eachField of formFields; let i=index">
        <mat-form-field *ngIf="i+1 > 4 && i+1 <= 6  " appearance="standard" floatLabel="auto">
          <label [for]="eachField.type" class="form-label">{{eachField.label}}</label>
          <div class="input-icon">
            <div class="icon-div">
              <mat-icon class="icon">{{eachField.icon}}</mat-icon>
            </div>
            <input matInput class="input-field" [formControlName]="eachField.formControl"
              [placeholder]="eachField.placeholder" [type]="eachField.type" autocomplete="new-password" />
            <mat-icon *ngIf="eachField.formControl=='password'" class="icon"
              [ngClass]="{'passIcon': eachField.formControl=='password'}" (click)="showPassword(i)">
              {{eachField.passEyeIcon}}</mat-icon>
          </div>
          <mat-error
            *ngIf="eachField.required && signUpForm.controls[eachField.formControl]?.errors?.required && signUpForm.controls[eachField.formControl].touched">
            {{eachField.requiredError}}</mat-error>
          <mat-error
            *ngIf="eachField.hasPattern && signUpForm.controls[eachField.formControl]?.errors?.pattern && signUpForm.controls[eachField.formControl]?.touched">
            {{eachField.patternError}}</mat-error>
        </mat-form-field>
      </ng-container>
    </div>
  </div> -->
  <div class="buttonDivSignup">
    <span *ngIf="error != ''" class="error">{{error}}</span>
    <span *ngIf="message != ''" class="error">{{message}}</span>
    <span *ngIf="error == '' && message == ''"> <br></span>
    <button mat-raised-button [ngClass]="{'button-disabled': signUpForm.status =='INVALID'}" color="primary" [disabled]="signUpForm.status =='INVALID' " (click)="signUp(); $event.stopPropagation(); $event.preventDefault()">Sign
      In</button>
  </div>
</form>

<!-- <form>
  <mat-form-field appearance="outline">
    <input class="input-field" type="text" ng2TelInput [ng2TelInputOptions]="{initialCountry: 'in'}" (hasError)="hasError($event)"
      (ng2TelOutput)="getNumber($event)" (intlTelInputObject)="telInputObject($event)"
      (countryChange)="onCountryChange($event)" /> -->
<!-- <mat-error
      *ngIf="!contactForm.get('formControlPhone').valid &&
      contactForm.get('formControlPhone').touched
      "
    >This is an <strong>invalid</strong> phone number.
    </mat-error> -->
<!-- </mat-form-field>
</form> -->