.signUpForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.field-group {
    // width: 45%;
    display: flex;
    justify-content: space-between;
}

.signUpFormField {
    width: 309px;
    padding-bottom: 7px;
}

.padding-right {
    padding-left: 119px;
}

.cityInput {
    margin-left: 0 !important;
    width: 103px;
}

.buttonDivSignup {
    display: flex;
    justify-content: center;
    // margin-top: 14px;
    flex-direction: column;
    align-items: center;
}

.error {
    margin-bottom: 13px;
    font-size: 12px;
    color: #d06b3a;
}

@media (max-width: 760px) {
    .field-group {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .signUpFormField {
        margin-right: 0 !important;
    }

    .padding-right {
        padding-left: 0 !important;
    }
}


