<div class="add-wrapper">
    <form [formGroup]="addMomentForm">
        <mat-form-field class="moment-title" appearance="standard" floatLabel="auto">
            <label class="form-label">Title</label>
            <div class="input-icon">
                <input matInput formControlName="title" class="input-field input-moments title-input" type="text"
                    autocomplete="new-password" />
            </div>
            <mat-error>** This field is required!</mat-error>
        </mat-form-field>
        <div class="form-bottom">
            <div class="form-bottom-div">
                <div>
                    <mat-form-field class="moment-title" appearance="fill">
                        <label class="form-label">Tags</label>
                        <mat-chip-list #chipList aria-label="Tags selection">
                            <div #chipDiv id="chip-list">
                                <mat-chip class="round-chip" *ngFor="let tag of tags" (removed)="remove(tag)">
                                    <div class='chip'>{{tag.name}}</div>
                                    <button matChipRemove>
                                        <mat-icon class="chip-remove">cancel</mat-icon>
                                    </button>
                                </mat-chip>
                            </div>
                            <div class="inputDiv" #inputDiv><input #chip_input matInput
                                    class="input-field input-moments tag-input" placeholder=""
                                    [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                    [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)"></div>

                        </mat-chip-list>
                    </mat-form-field>
                </div>
                <div>
                    <div class="dnd-files-list">
                        <div class="dnd-single-file" *ngFor="let file of files; let i = index">
                            <div><mat-icon class="image-icon">image</mat-icon></div>
                            <div class="dnd-info">
                                <h4 class="dnd-name">
                                    {{ file?.name }}
                                </h4>
                                <app-progress class="progress" [progress]="file?.progress"></app-progress>
                                <p class="dnd-size">
                                    {{ formatBytes(file?.size) }}
                                </p>
                            </div>
                            <div><mat-icon [ngClass]="{'disabled': !deleteFileCheck}" (click)="deleteFile(i)">close</mat-icon></div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="dropzone" appDnd (fileDropped)="onFileDropped($event)">
                    <img src="../../../../assets//Group.svg" alt="" height="34" width="36">
                    <input style=" visibility: hidden;" type="file" multiple #fileDropRef id="fileDropRef" multiple
                        (change)="fileBrowseHandler($event)" accept="image/png, image/gif, image/jpeg" /> 
                        <img src="assets/img/dnd/ic-upload-file.svg" alt="">
                    <div class=".dnd-h3">Drag and drop file</div>
                    <div class=".dnd-h3 bold">or</div>
                    <label class="dnd-label" for="fileDropRef">Browse</label>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="submit-button">
    <span  class="error">{{error}}</span>
    <span *ngIf="error == ''"> <br></span>
    <button mat-raised-button [ngClass]="{'button-disabled': addMomentForm.status =='INVALID'}" color="primary" [disabled]="addMomentForm.status =='INVALID' " (click)="submitMoment();">Submit</button></div>