.add-wrapper {
    box-shadow: 0px 0px 3px 1px #ebeaea;
    padding: 30px 94px;
}

.input-moments {
    margin-left: 0 !important;
}

.moment-title {
    width: 100%;
    margin-bottom: 28px;
}

.title-input {
    padding-left: 15px !important;
}

.form-bottom {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;
}

.example-chip-list {
    width: 100%;
}

.form-bottom-div {
    width: 50%;
}

.inputDiv {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin-left: 8px;
}

.inputDiv::-webkit-scrollbar {
    display: none;
}

.chip-remove {
    color: #013136;
}

.tag-input {
    border: none !important;
    margin: 0 !important;
}

.chip {
    max-width: 40px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.inputDiv {
    // margin: 0;
    border-bottom: 1px solid #dbdbdb !important;
    margin-top: 5px;
}

.round-chip {
    border: 1px solid #24be8b;
}

.dropzone {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #dbdbdb;
    border-style: dotted;
    width: 262px;
    height: 262px;
    justify-content: center;
    line-height: 2.2;
}

.dnd-label {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    background: #001b30;
    width: 98px;
    display: flex;
    justify-content: center;
    border-radius: 23px;
    color: #ffffff;
    cursor: pointer;
}

.dnd-input {
    display: none !important;
}

.dnd-h3 {
    font-size: 17px;
}

.bold {
    font-weight: bold;
}

.dnd-single-file {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.dnd-name {
    margin: 0;
    margin-bottom: 8px;
    font-style: normal;
    font-weight: lighter;
    font-size: 14px;
}

.dnd-size {
    margin: 0;
    font-size: 12px;
    margin-top: 6px;
}

.image-icon {
    font-size: 49px;
}

.dnd-info {
    width: 300px;
}

.dnd-files-list::-webkit-scrollbar {
    display: none;
}

.dnd-files-list {
    // margin-bottom: 20px;
    max-height: 192px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.submit-button {
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

@media (max-width: 760px) {
    .form-bottom {
        flex-direction: column;
        flex-grow: 1;
    }

    .form-bottom-div {
        width: 100%;
    }
}

.disabled {
    opacity: 0.5;
}

/* Shake animation */
@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

.submit-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.error {
    font-size: 11px;
    color: #f54a0b;
    font-weight: lighter;
    padding: 10px;
}

.progress {
    max-height: 203px;
    // overflow-y: scroll;
    height: 6px;
}
