.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
    // margin-top: 139px;
    min-height: 497px;
    padding-top: 28px;
    border-radius: 39px 0px 0px 0px;
    overflow: hidden;
}

.home-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
    // margin-top: 139px;
    min-height: 469px;
    padding-top: 28px;
    border-radius: 39px 0px 0px 0px;
    overflow: hidden;
}

.home-signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
    // margin-top: 139px;
    min-height: 469px;
    padding-top: 28px;
    border-radius: 39px 0px 0px 0px;
    overflow: hidden;
}

.home-span {
    padding-top: 20px;
    // font-family: Maven Pro !important;
    font-size: 16px;
    color: #000000;
}

.first-span {
    opacity: 0.5;
}

.link {
    cursor: pointer;
}

.home-header-span {
    display: flex;
    flex-direction: column;
    line-height: 1.4;
    margin-bottom: 14px;
    align-items: center;
}

.header-first-span {
    // font-family: Maven Pro !important;
    color: #001B30;
    font-size: 40px;
    font-weight: 700;
}

.header-second-span {
    // font-family: Maven Pro !important;
    color: #001B30;
    font-size: 20px;
    font-weight: 400;
}


@media (max-width: 760px) {
    .home-span {
        padding-bottom: 29px;
    }
}