
<div>
<div class="logo">
    <img src="../../../assets/logo.svg" alt="" width="94" height="83">
</div>
    <div class="home">
        <div class="home-header-span">
            <span class="header-first-span">{{links[notActive].headerFirst}}</span><span class="header-second-span"
                (click)="changeAuth()">{{links[notActive].headerSecond}}</span>
        </div>
        <router-outlet (activate)='onActivate($event)' (deactivate)='onDeactivate($event)'></router-outlet>
        <div class="home-span">
            <span class="first-span">{{links[notActive].first}}&nbsp;</span><span class="link"
                (click)="changeAuth()">{{links[notActive].second}}</span>
        </div>
        <!-- <br><br><br><br><br> -->
    </div>
</div>
