<div *ngIf="showList" class="m-3">

    <table class="table table-striped">
        <thead class="table-header">
            <tr>
                <th scope="col" sortable="srno">Sr.No</th>
                <th scope="col">Image</th>
                <th scope="col" sortable="title">Title</th>
                <th scope="col" sortable="tags">Tags</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of datas | slice: (page-1) * pageSize : page * pageSize; index as i">
                <th class="sr-no" [ngClass]="{}" scope="row">{{ (page -1) * pageSize + i + 1 }}</th>
                <td>
                    <div class="img-div">
                        <img *ngIf="!data.image" src="../../../../assets/image.png" class="mr-2 moment-image"
                            height="27" width="27">
                        <img *ngIf="showList && data.image" [src]="data.image" class="mr-2 moment-image" height="27"
                            width="27">
                    </div>

                </td>
                <td>{{ data.title }}</td>
                <td>
                    <div class='tags'>
                        <div class="tag-name">
                            {{ data.tags[0] }}
                        </div>
                        <mat-icon>cancel</mat-icon>
                    </div>
                </td>
                <td>
                    <div>
                        <mat-icon>delete</mat-icon>
                        <mat-icon>edit</mat-icon>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [maxSize]="5" [boundaryLinks]="true"
        [pageSize]="pageSize" class="d-flex justify-content-center"></ngb-pagination>
</div>
<router-outlet></router-outlet>