.moment-image {
    // width: 29px;
    border-radius: 106px !important;
}

.img-div {
    width: 25px;
    height: 25px;
    border-radius: 33px;
}

.table-geader {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
}


.table {
    color: #001B30;
}

.sr-no {
    font-size: 18px;
    font-weight: lighter;
    min-width: 30px !important;
    width: 126px !important;
}

.tags {
    border-radius: 41px;
    width: fit-content;
    border: 1px solid rgb(61, 124, 218);
    padding: 0 7px 0 7px;
    display: flex;
}

.tag-name {
    overflow: hidden;
    width: 46px;
    text-overflow: ellipsis;
}