/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import '~bootstrap/scss/bootstrap';

body {
    font-family: Maven Pro !important;
    margin: 0;
    background: #001b30 !important;
}

.input-field {
    border: none !important;
    outline: none !important;
    line-height: 2.5 !important;
    border-bottom: 1px solid #dbdbdb !important;
    // font-family: Maven Pro !important;
    font-size: 16px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    text-align: left !important;
    color: #4f4f4f !important;
    margin-left: 21px !important;
}

.form-label {
    // font-family: Maven Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #4f4f4f;
}

.input-icon {
    display: flex;
}

.icon-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    line-height: 1.9 !important;
    border-bottom: 1px solid #dbdbdb;
    min-width: 44px !important;
}

.icon {
    color: #6d6d6d;
    font-family: "Material Icons" !important;
    font-size: 20px !important;
    height: 17px !important;
    width: 19px !important;
}
// .form-icon {
//     height: 24px;
//     width: 24px;
// }

.password {
    position: relative;
}

.formDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.passIcon {
    position: absolute;
    right: 0;
    bottom: 13px;
    cursor: pointer;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    box-shadow: 0 0 0 30px white inset !important;
    font-size: 16px !important;
    font-style: normal !important;
    font-weight: 500 !important;
}

button {
    width: 165px;
    // font-family: Maven Pro;
    font-weight: 700;
    border-radius: 29px !important;
    color: #ffffff;
    background: #001b30;
}

.buttonDiv {
    height: 36px;
    margin-top: 34px !important;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mat-error {
    display: flex !important;
    justify-content: flex-end !important;
    font-size: 13px;
    padding-right: 11px;
    color: #d06b3a;
}

.iti__flag-container {
    border-bottom: 1px solid #dbdbdb !important;
    max-width: 44px !important;
}

.iti__flag-container + input {
    margin-left: 65px !important;
    padding: 0 !important;
    border-bottom: 1px solid #dbdbdb !important;
    width: 244px;
    line-height: 2.5;
}

.logo {
    display: flex;
    justify-content: center;
    padding: 28px;
}

.button-disabled {
    opacity: 0.4;
}

.mat-drawer-inner-container {
    display: flex !important;
    flex-direction: column;
    align-items: center;
}

.mat-expansion-panel-header {
    padding: 0 41px !important;
    height: 47px !important;
    background-color: #001b30;
}

.mat-accordion .mat-expansion-panel:last-of-type {
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.mat-accordion .mat-expansion-panel:first-of-type {
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
}

@media (max-width: 760px) {
    .mobile-field {
        margin-right: 135px;
    }
}

// .mat-focus-indicator,
// .ng-tns-c101-2,
// .ng-tns-c99-1,
// .mat-expansion-toggle-indicator-after,
// .ng-star-inserted,
// .mat-expanded
.mat-expansion-panel-header{
    color: #ffffff !important;
    background: #001b30 !important;
}

.mat-expansion-panel-body, .mat-expansion-panel-content {
    background: #ffffff !important;
}

.mat-standard-chip.mat-chip-with-trailing-icon {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    padding-right: 6px !important;
    padding-left: 8px !important;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
    padding: 0 !important;
}

tr {
    background: #ffffff !important;
}



.table thead th {
    border-bottom: none !important;
}

// .progress[_ngcontent-txh-c84] {
//     overflow: hidden !important;
// }
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';


.page-item.active .page-link {
    background-color: #06203c !important;
    border-color: #06203c !important;
}