.sidenav-container {
    // width: 100%;
    min-height: 636px;
    width: 100% !important;
}

.sidenav {
    min-width: 258.61px !important;
    background: #ffffff;
    // border-right: 2px solid #ebeaea;
    box-shadow: 1px 2px 6px 2px #ebeaea;
}

.header {
    background: #ffffff;
    height: 103px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.moment-wrapper {
    display: flex;
}

.right-section {
    width: 100%;
}

.top-nav {
    min-height: 50%;
    border-bottom: 2px solid #ebeaea;
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    align-items: center;
    padding: 0 10px 0 10px;
}

.toggle-menu {
    color: #001b30;
    opacity: 0.8;
    font-size: 25px;
}

.event-width {
    width: 50%;
}

.start {
    display: flex;
    justify-content: flex-start;
}

.end {
    display: flex;
    justify-content: flex-end;
}

.round-img {
    border-radius: 24px;
}

.nav-title {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #001b30;
}

.logo-sidenav {
    margin-top: 20px;
}

.menu {
    padding-top: 80px;
}

.profile {
    padding-left: 41px;
    height: 47px;
    font-weight: 400 !important;
    color: #000000 !important;
}

.mat-content {
    background: #ffffff;
}

.menu-text {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: #ffffff;
}

// .expansion-content {
//     display: flex;
//     flex-direction: column;
// }
ul {
    // list-style: none;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 2;
    width: 211px;
    cursor: pointer;
}

li.deselected {
    display: initial;
    font-weight: lighter;
}

.inner-component {
    padding: 10px;
}
