<div class="moment-wrapper">
    <mat-drawer-container class="sidenav-container">
        <mat-drawer #drawer mode="side" class="sidenav" opened>
            <img class="logo-sidenav" src="../../../assets/logo1.svg" alt="">
            <div class="menu">
                <div class="profile menu-text">Profile</div>
                <mat-accordion>
                    <!-- <mat-expansion-panel hideToggle> -->
                    <!-- <mat-expansion-panel-header> -->
                    <!-- <mat-panel-title>
                      This is the expansion title
                    </mat-panel-title>
                    <mat-panel-description>
                      This is a summary of the content
                    </mat-panel-description> -->
                    <!-- </mat-expansion-panel-header> -->
                    <!-- <p>This is the primary content of the panel.</p> -->
                    <!-- </mat-expansion-panel> -->
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title class="menu-text">
                                Moments
                            </mat-panel-title>
                            <!-- <mat-panel-description>
                      Currently I am {{panelOpenState ? 'open' : 'closed'}}
                    </mat-panel-description> -->
                        </mat-expansion-panel-header>
                        <!-- <div class="expansion-content"> -->
                            <ul>
                                <li [ngClass]="{'deselected': selectedMenu=='add'}" (click)="chageMoment('list')">Moment List</li>
                                <li [ngClass]="{'deselected': selectedMenu=='list'}" (click)="chageMoment('add')">Add new moment</li>
                            </ul>
                            <!-- <ul> -->
                            <!-- <span>Moment List</span>
                            <span>Add new moment</span> -->
                            <!-- </ul> -->
                        <!-- </div> -->
                    </mat-expansion-panel>
                </mat-accordion>
            </div>

        </mat-drawer>
        <mat-drawer-content class="mat-content">
            <div class="right-section">
                <div class="header">
                    <div class="top-nav">
                        <div class="event-width start">
                            <mat-icon class="toggle-menu" (click)="drawer.toggle()">menu</mat-icon>
                        </div>
                        <div class="event-width end"><img class="round-img" src="../../../assets/profile.jpeg" alt=""
                                height="30" width="30"></div>
                    </div>
                    <div class="top-nav start nav-title">{{headerTitle[selectedMenu]}}</div>
                </div>
                <div class="inner-component">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </mat-drawer-content>
    </mat-drawer-container>
</div>